# required parameters for CC
config.url = https://github.com/apache/commons-collections.git

#required parameters for abstract software graph
config.repoPath = C:/Users/danie/Git/os_projects/commons-collections
config.dirToAnalyze = C:/Users/danie/Git/os_projects/commons-collections/src

# for this commits a cc graph will be exported  

# build a snapshot of the abstract software graph for this commits

# Number of initial growth commits
config.determinedGrowthPhase = false
config.sizeGrowthPhase = 0

# Package parameters
config.maxPackageSplitName = 5
config.maxFilesToAnalyze   = 0.75
config.minPackageSize      = 10

# Refactoring types to analyze
config.refTypes = move_method
config.refTypes = inline_method
config.refTypes = extract_method