# required parameters for CC
config.url = https://github.com/apache/giraph.git

#required parameters for abstract software graph
config.repoPath = C:/Users/danie/Git/os_projects/giraph
config.dirToAnalyze = C:/Users/danie/Git/os_projects/giraph

# for this commits a cc graph will be exported  

# build a snapshot of the abstract software graph for this commits

# Number of initial growth commits
config.determinedGrowthPhase = false
config.sizeGrowthPhase = 0

# Package parameters
config.maxPackageSplitName = 4
config.maxFilesToAnalyze   = 0.9
config.minPackageSize      = 20

# Refactoring types to analyze
config.refTypes = move_method
config.refTypes = inline_method
config.refTypes = extract_method